@font-face {
  font-family: 'Sligoil';
  src: url(webfonts/sligoil/Sligoil-Micro.woff2) format('woff2'),        
       url(webfonts/sligoil/Sligoil-Micro.woff) format('woff'),         
} 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 11pt;
  }

html {
  background-color: black;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
}

body {
  background-color: #ede8de;
  width: 100%;
  height: 100%;
}

.under-construction {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: black;
  height: 1.5rem;
  width: 100vw;
  z-index: 10;
}

.under-construction p {
  top: 0.2em;
  color: #ede8de;
  animation-name: scroll;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes scroll {
  100% {
    left: -300px;
  }
  0% {
    left:130vw;
  }
}



main {
  /* width: 25em; */
  display: flex;
  flex-direction: column;
  background-color:none;
  height: 100%;
  overflow: auto;
}

main div {
  display:flexbox;
  margin: 16px;
  text-decoration: none;
}

.title-block {
  margin-top: 1em;
  margin-bottom: 0;
  padding: 0;
  /* background-color: aqua; */
}

.name {
  margin-top: 1em;
  margin-bottom: 0.17em;
  width: 50%;
  line-height: 0.73;
}

.profession {
  margin-bottom: 2rem;
}

.bio {
  margin-bottom: 1rem;
}

.landing {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}

.visual {
  /* position: relative; */
  /* flex: 1; */
  /* height: 100%; */
  width: 400px;
  height: 400px;
  /* padding: 10px; */
  /* padding-bottom: 200px; */
  /* background-color: tomato; */
}

canvas {
  /* background-color: violet; */
  /* position: fixed;
  top: 0;
  left: 0; */
  border: #2C2627;
  border-style: solid;
  border-width: 3px;
  border-radius: 1rem;
  /* z-index: -1; */
}

.link-block {
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-color: gold; */
  padding: 0;
  margin-top: 2rem;
  /* top: -1em; */
}

.link-block a {
  /* background-color: coral; */
  font-size: 1.2em;
  font-weight: 600;
  /* padding: .5em 0em .5em 0em; */
  margin: 0.3em 0em 0.6em 0em;

}

a:hover:not(.active) {
  /* color: tomato; */
  animation: color-change 100ms ease-out 0ms 1 forwards;
}

h1 {
  font-family: 'Sligoil', 'Monaco', 'Courier New', Courier, monospace;
  font-size: 5rem;
  color: #2C2627;
}

.link-block {
  font-family: 'Sligoil', 'Monaco' 'Courier New', Courier, monospace;
}

h2, p, a {
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  line-height: 95%;
  color: #2C2627;
  transform: scale(1, 1.2) skew(-3deg, 0deg);
}

h2 {
  font-size: 1.2rem;
  font-style: medium;
  font-weight: 500;
}

a {
  text-decoration: none;
}

#finger {
  position: relative;
  /* top: -0.03em; */
  font-size: 1.4rem;
  animation-timing-function: ease-out;
  color: #ede8de;
}

a:hover > #finger {
  color: tomato;
  animation-name: finger;
  animation-fill-mode: forwards;
  animation-duration: 100ms; 
}

.link-des {
  color: #ede8de;
}

a:hover > .link-des {
  /* color: tomato; */
  animation: color-change 100ms ease-out 0ms 1 forwards;
}

@keyframes finger {
  0%{
    left: -0.8em;
  }
  100% {
    left: 0.0em;
    
  }
}

@keyframes color-change {
  100% {
    color: tomato;
  }
}

@media (width > 600px) {

  h1 {
    line-height: 2.4rem;
  }

  main {
  max-width: 800px;
  margin: auto;
  }

  .title-block {
    flex: 1;
    width: fit-content;
  }

  .bio {
    margin-bottom: 0.0rem;
  }


}

@media screen and (width <= 700px) {
  .visual {
    width: 100vw;
  }
}

footer {
  margin-top: 5rem;
  height: 5rem;
  background-color: black;
  display: flex;
}

.socials {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.fa {
  transform: scale(1,1) skew(0deg, 0deg);
  color: #ede8de;
}

.socials .fa {
  border: #ede8de solid 1.2px;
  border-radius: 25%;
  padding: 0.5em;
  margin: 0.2em;
}

.location {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.location a {
  font-size: ;
}

.location p {
  transform: scale(1,1) skew(0deg, 0deg);
  font-family: 'Sligoil', 'Monaco', 'Courier New', Courier, monospace;
  color: #ede8de;
  margin-left: 0.5rem;
}

.fa:hover {
  border-color: tomato;
}