@import "webfonts/font.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    background-color: #e7fb04;
}

.big {
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    font-size: 48pt;
}

h1 {
    font-family: 'Sporting Grotesque_Regular';
    font-size: 1em;
    line-height: 0.9em;
    color: #2C2627;
}

p {
    font-family: 'Minipax-Regular';
    font-size: .4em;
    position: relative;
    color: #2C2627;

}

.new {
    padding-top: 1.5em;
    font-size: 0.25em;
    opacity: 60%;
}

.new:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026";
    width: 3px;
  }
  
  @keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }

body {
	background: linear-gradient(45deg, #e7fb04, #bfe709, #b9fb04, #a5fb04);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}